.add-new {
  display: inline-block;
  float: right;
  position: relative;
  top: 5px;
}
input.description {
  padding: 5px;
  margin: 5px;
  height: 20px;
  box-shadow: 1px 3px 3px #ccc;
  border: none;
  display: inline-block;
  width: 80%;
}
input.ng-invalid {
  border: 1px solid red;
}
input.ng-invalid:focus {
  border: 1px solid red;
  outline: none;
}
i.material-icons:hover {
  cursor: pointer;
}
p.error-msg {
  left: 15px;
  position: relative;
  color: #f44336;
  margin: 0;
}
.form-container{
  position: relative;
}
.add-new {
  display: inline-block;
  float: right;
  position: absolute;
  top: 7px;
  right: 0;
}