.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 3px #ccc;
  padding: 5px;
  border-radius: 5px;
}

