<div class="container" cdkDropListGroup>
  <div class="board-details">
    <p>Total Cards : {{ totalCards }}</p>
  </div>
  <div class="list-container" *ngFor="let list of storyBoard; let i = index">
    <div class="card-header">
      <span *ngIf="list.hasSaved" class="card-title"
        >{{ list.listName }}
        {{ list.cardList.length ? "(" + list.cardList.length + ")" : "" }}</span
      >
      <app-single-form
        *ngIf="!list.hasSaved"
        [description]="list.listName"
        (saveForm)="saveList(list, $event)"
      ></app-single-form>
      <button *ngIf="list.hasSaved" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="openPrompt(storyBoard, i)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
        <button (click)="toEdit(list)" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button (click)="addList()" mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Add List</span>
        </button>
        <button (click)="removeAll(list)" mat-menu-item>
          <mat-icon>delete_sweep</mat-icon>
          <span>Remove All</span>
        </button>
      </mat-menu>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="list.cardList"
      class="card-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="card-box"
        [cdkDragData]="item"
        *ngFor="let item of list.cardList; let i = index"
        cdkDrag
      >
        <div *ngIf="item.hasSaved" class="car-content">
          <p>{{ item.description }}</p>
        </div>
        <button
          *ngIf="item.hasSaved"
          mat-icon-button
          [matMenuTriggerFor]="sub_menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #sub_menu="matMenu">
          <button (click)="openPrompt(list.cardList, i)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
          <button (click)="toEdit(item)" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
        </mat-menu>
        <app-single-form
          *ngIf="!item.hasSaved"
          [description]="item.description"
          (saveForm)="saveCard(list, i, $event)"
        ></app-single-form>
      </div>
      <button
        class="add-new add-card"
        mat-button
        (click)="addCard(list.cardList)"
      >
        Add Card
      </button>
    </div>
  </div>
</div>
